body {

    margin: 0;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#qr_image {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 200px;
}

#card {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 229px;
    height: 360px;
    padding-top: 9px;

    background-color: white;


    font-family: "Outfit", sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: auto;
    justify-content: center;
    align-items: center;

}




#p-1{
    font-weight: 350;
    color: hsl(216, 15%, 48%);
    margin-bottom: 20px;
    padding-left:15px;
    padding-right:15px;

}

#h2-1{
    font-size: 17px;
    font-weight: 6000;
    margin: 20px 3px 0px 3px;
    text-align: center;
    width: 220px;
    color: hsl(218, 44%, 22%);
    padding-left:10px;
    padding-right:10px;


}
